@tailwind base;
@tailwind components;
@tailwind utilities;

/* In src/assets/styles/index.css */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
  }
  .page-item {
    margin: 0 5px;
  }
  .page-link {
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #BFA181;
    cursor: pointer;
    border-radius: 4px;
  }
  .page-item.active .page-link {
    background-color: #BFA181;
    color: white;
    border-color: #BFA181;
  }
  .page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
  }


 /* client/src/assets/styles/index.css */
/* client/src/assets/styles/index.css */
/* client/src/assets/styles/index.css */
@layer base {
  body {
    /* Apply the dark background and light text to the whole site */
    @apply bg-page-bg text-text-primary;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}